# Rails
RAILS_ENV=development
RAILS_MAX_THREADS=5
SECRET_KEY_BASE=

# Devise JWT
DEVISE_JWT_SECRET_KEY=

# CORS
CORS_ORIGINS=http://localhost:3000

# Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=stock_tree_full_development
POSTGRES_HOST=localhost
POSTGRES_PORT=55432

# AWS for Active Storage (production)
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1
AWS_S3_BUCKET=
