<div class="flex gap-4">
  <div class="w-64 shrink-0">
    <%= render partial: "tree", locals: { folder: @folder } %>
  </div>
  <turbo-frame id="main" class="flex-1">
    <h2 class="text-lg font-semibold"><%= @folder.name %></h2>
    <div class="mt-4">
      <h3 class="font-medium mb-2">Subfolders</h3>
      <ul class="list-disc ml-6">
        <% @folder.subfolders.order(:name).each do |f| %>
          <li><%= link_to f.name, folder_path(f), data: { turbo_frame: "main" } %></li>
        <% end %>
      </ul>
    </div>
    <div class="mt-6">
      <h3 class="font-medium mb-2">Products</h3>
      <turbo-frame id="products_list">
        <%# Server-side render initial page so it works without JS too %>
        <% per_page = 20 %>
        <% page = (params[:page] || 1).to_i %>
        <% offset = (page - 1) * per_page %>
  <% all_products = policy_scope(Product).where(folder_id: @folder.id).includes(:folder, :tags, product_image_attachment: :blob).order(:name) %>
        <% products = all_products.limit(per_page).offset(offset) %>
        <% has_next = all_products.count > offset + products.length %>
        <%= render partial: 'products/list', locals: { products: products, page: page, has_next: has_next, folder: @folder } %>
      </turbo-frame>
    </div>
  </turbo-frame>
</div>
