<div data-controller="filter">
  <div class="flex gap-2 mb-3">
    <input type="text" name="q" placeholder="Search..." data-filter-target="q" data-action="input->filter#debounced" class="border px-2 py-1 rounded w-64" value="<%= params[:q] %>" />
    <input type="number" name="min_level" placeholder="Min level" data-filter-target="minLevel" data-action="input->filter#debounced" class="border px-2 py-1 rounded w-32" value="<%= params[:min_level] %>" />
  </div>

  <turbo-frame id="products_list">
    <%= render partial: 'list' %>
  </turbo-frame>
</div>
